* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    background-image: url('imagenes/pexels-kovyrina-937980.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

header h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 10px 0;
    background-color: rgba(0, 24, 245, 0.5);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ccc;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
    position: relative;
    min-height: 150px;
}

.card img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: auto;
}

#dns {
    border-top: 4px solid red;
    grid-column: span 1;
}

#html {
    border-top: 4px solid magenta;
    grid-column: span 1;
}

#tcpip {
    border-top: 4px solid orange;
}

#css {
    border-top: 4px solid blue;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 5px 0;
}
