body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0400ff;
    color: white;
    padding: 10px;
    text-align: center;
}

.actions {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #013bfa;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #278cff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list {
    width: 80%;
    margin-top: 20px;
}

.user-item {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.user-item:hover {
    background-color: #e2e2e2;
}

.hidden {
    display: none;
}

form {
    width: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#message-container {
    margin-top: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}
